* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

/*--------- Navbar ---------- */
#subnav {
  padding: 3px 12px;
  background: #232f3e;
}

.navbar-brand {
  font-family: Lato , sans-serif;
  font-weight: 800;
  font-size: 16.34px;
  line-height: 19.61px;
  letter-spacing: 0%;
}

.nav-item {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 16.41px;
  line-height: 19.7px;
  letter-spacing: 0%;
}

/*------------ footer -------------*/
.BTNfooter {
  background: #37475a !important;
  width: 100%;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.btnFooter {
  color: aliceblue;
  flex-grow: 1;

  background: #37475a !important;
  border: none;

  padding: 17px 558px;
  font-family: Noto Serif Gujarati;
  font-weight: 500;
  font-size: 16px;
  line-height: 23.15px;
}
footer {
  width: 100%;
  min-height: 548px;
  background: #232f3e;
  li {
    list-style: none;
  }
  .footer-section {
    margin-top: 50px;
  }
  .container {
    border-bottom: #4c4c4c 1px solid;
  }
}
/* DeepFooter */
.deepFooter{
  background: #131A22;
  width:100vw !important;
min-height: 266px;
h3{
  font-family: Noto Serif Gujarati;
font-weight: 500;
font-size: 14.67px;
line-height: 21.23px;
letter-spacing: 0%;
color: #fff;

}
p{
  font-family: Noto Serif Gujarati;
font-weight: 300;
font-size: 14.67px;
line-height: 21.23px;
letter-spacing: 0%;
color: #999999;
}

}
.card-1{
  width: 319px;
height: 472px;
img{
  width: 135px;
height: 157px;
gap: 5px;

}
}