* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* footer */
.BTNfooter{
  background: #37475a !important;
  width: 100%;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  

}
.btnFooter {
  color: aliceblue;
  flex-grow: 1;

 
  background: #37475a !important;
  border: none;

  padding: 17px 558px;
  font-family: Noto Serif Gujarati;
  font-weight: 500;
  font-size: 16px;
  line-height: 23.15px;
}
footer {
  width: 100%;
  min-height: 548px;
  background: #232f3e;
  li{
    list-style: none;
  }
  .footer-section{
    margin-top: 50px;

  }
  .container{
    border-bottom: #4C4C4C 1px solid;
  }
}